<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Minimal N-gram Viewer | Chang Liu</title>
        <!-- <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}"/> -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/metisMenu.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ngram-viewer.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sb-admin-2.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}"/>
        <link href="http://cdn.oesmith.co.uk/morris-0.5.1.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    </heading>
    <body>
        <div id="wrapper">
            <div class="col-lg-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="\">Version v0.1 </a>
            </div>
            <div class="col-lg-3" style="border-left: 1px solid #ccc; height: 100%; min-height: 600px">
                {% include 'nav.html' %}
            </div>
        </div>
    </body>
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/sb-admin-2.js')}}"></script>
    <script src="{{url_for('static', filename='js/metisMenu.min.js')}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>
    {% block scripts %}
    {% endblock %}
</html>