{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div id="outPopUp">
        <h2>N-grams Viewer</h2>
        <input id="searchBox" type="text" placeholder="Input n-grams separated by comma (1 <= n <= 5)" onclick="inputing()">
        <div class="acContainer" style="display: none"></div>
    </div>
    <div class="results">
        <div class="alerts" style="display: none"></div>
        <div id="chart"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/index.js')}}"></script>
<script>
window.onload = function(){
    var text = "{{text}}"
    console.log(text)
    if (text !== "") {
        var e = $.Event('keydown');
        e.which = 13;
        $('#searchBox').val(text).focus();
        $('#searchBox').trigger(e);
    }
}
</script>
{% endblock %}
