<!-- <div class="sidebar-nav" style="height: 450px; overflow:scroll"> -->
    <ul class="nav" id="side-menu">
        <li><h4>N-grams Viewer </h4></li>
        <li>
            <p>
                extracted and indexed N-grams from
                <a href="https://bitbucket.org/changliu85/ngramviewer/src/6d8745f1973e86ee695ef6e1bb523d5054807f1d/text/?at=master" target="_blank">sample text from 2012 to 2016 <i class="fa fa-external-link fa-fw"></i>.</a>
            </p>
            <p>
                It takes any number of ngrams and display their distribution of occurrences over the years, mimicing the almighty
                <a href="//books.google.com/ngrams/" target="_blank">Google Book Ngram Viewer<i class="fa fa-external-link fa-fw"></i></a>
            <p>
            <p>
                A Redis database was used to store the index of the Ngrams for easy look up. For more technical detail check out
                <a href="//bitbucket.org/changliu85/ngramviewer/src/6d8745f1973e?at=master" target="_blank">
                the repo on BitBucket <i class="fa fa-external-link fa-fw"></i>.
                </a>
            </p>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#"> <h5>Example Usage <span class="fa arrow"></span></h5></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="/heal, kill">
                        heal vs. kill
                    </a>
                </li>
                <li>
                    <a href="/war, peace">
                        war vs. peace
                    </a>
                </li>
                <li>
                    <a href="/of the people, by the people, for the people">
                        of the people vs. by the people vs. for the people
                    </a>
                </li>
            </ul>
        </li>
        <li class="divider"></li>
        <li><h5>Other Features</h5></li>
        <li>
            <a href="#"></i> Auto complete <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <p>10 options matching user query will popup once user starts input. Phrase set used for completion consists of ngrams appeared at least 3 times in the sample text.</p>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"></i> Auto correction <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <p>User input will be auto-corrected using the phrases indexed from the sample text.</p>
                    <p>A banner will show up indicating the substitution.
                    <a href="/coma to, go to">Example</a></p>
                </li>
            </ul>
        </li>
    </ul>
<!-- </div> -->
<div class="footer">
    <p> Author: <a href="mailto:changli.cee@gmail.com">Chang Liu</a>
        <a href="//www.linkedin.com/in/changliucmu/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </p>
    <p> Last updated 05/21/2017 </p>
    <p> Mountain View, California </p>
</div>