.footer {
  position: absolute;
  padding-top:10px;
  padding-right:20px;
  text-align:center;
  bottom: 0;
  width: 100%;
  color:#a7b1c2;
  background-color: #efefef;
}

body {
  background-color: #fff;
}

#outPopUp {
    position: absolute;
    background-color: #fff;
    border: 1px solid rgb(185,185,185);
    border-top-color: rgb(160,160,160);
    cursor: text;
    display: inline-block;
    font: 18px arial,sans-serif;
    max-width: 670px;
    min-width: 420px;
    width: 50%;
    height: 39px;
    line-height: 36px;
    z-index: 15;
    /*top: 5%;*/
    /*left: 5%;*/
    /*margin: -50px 0 0 -335px;*/
    margin: 55px 0 0 25px;
}

#outPopUp h2 {
    margin-top: -35px;
}
#page-wrapper {
    min-height: 600px !important;
    margin-left: 200px;
    padding-left: 0px;
}

.selected {
    border: 1px solid #4d90fe !important;
}


#searchBox {
    background: transparent;
    border: none;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0 8px;
    position: absolute;
    top: 2px;
    width: 100%;
}

button:hover {
  background: #3071A9
}

.acContainer {
    border: 1px solid #ccc;
    margin-top: 39px;
    height: 180px;
    overflow-y: scroll;
    display: none;
    line-height: 25px;
    background-color: #fff;
}

.acOption {
    display: inline-block;
    width: 100%;
    text-align: left;
    border-radius: 0;
    border: 0;
}

.results {
    width: 80%;
    max-width: 900px;
    height: 450px;
    margin: 100px 0 0 25px;
    float: left;
}

.corrected {
    color: #1a0dab;
    font-style: italic;
    font-weight: bold;
}

.be-corrected {
    color: #888;
    font-style: italic;
}

#wrapper {
    background-color: #fff !important;
}
